@import '@penpot/plugin-styles/styles.css';

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
}

.input-full {
  width: 100%;
}

.content-group {
  margin-block-end: var(--spacing-12);

  label {
    margin-inline: 0.125rem;
  }
}

.form-group {
  input,
  select,
  button {
    margin-top: 0.2rem;
  }
}

.margin-group {
  display: flex;

  input[type='range'] {
    flex: 1 1;
  }

  input[type='number'] {
    flex: 0 0 auto;
    margin-left: 20px;
    width: 55px;
  }
}

.button-group {
  display: grid;
  gap: var(--spacing-8);
}

.content-group.button-group {
  margin-top: var(--spacing-20);
}

#qr-preview {
  background-color: var(--background-quaternary);
  border-radius: var(--spacing-20);
  display: flex;
  justify-content: center;

  svg {
    width: 130px;
    height: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
